<!DOCTYPE html>
<html lang="zh">
    <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="~/js/bj-bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/src/bj-fontawesome/css/font-awesome.min.css" />
        <link rel="stylesheet" href="~/js/common.css" />
        <style type="text/css">
            body {
                background: #CCDFFD;
            }
        </style>
        @RenderSection("styles",required:false);
    </head>
    <body>
        <div class="row">
            <nav class="navbar-default ">
                <div class="navbar-header">
                    <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/Home/RealTime"><img src="~/img/mm1.jpg" style="height:50px;margin-top:-15px;cursor:pointer;" /></a>
                    <div class="nav-header-title">沼气项目</div>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/Home/RealTime">实时工况</a></li>
                        <li><a href="/Home/HistoryData">统计报表</a></li>
                        <li style="border-bottom:2px solid salmon;"><a href="/Home/RealTime">实时工况3</a></li>
                    </ul>
                </div>
            </nav>
        </div>
                @RenderBody()
                <script type="text/javascript" src="~/src/jquery3.1.0-jQuery.js"></script>
        <script type="text/javascript" src="~/js/bj-bootstrap/js/bootstrap.min.js"></script>
        @RenderSection("scripts", required: false)
        
    </body>
</html>
