<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
		<link rel="stylesheet" href="js/bj-bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" href="src/bj-fontawesome/css/font-awesome.css" />
		<link rel="stylesheet" href="js/common.css" />
		<link rel="stylesheet" href="js/realtime-m.css" />
		<style type="text/css">
			body{
				background:#CCDFFD;
			}
		</style>
	</head>
	<body>
		<div class="row">
		<nav class="navbar-default ">
			<div class="navbar-header">
				<button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="realtime版本2.html"><img  src="img/mm1.jpg" style="height:50px;margin-top:-15px;cursor:pointer;"/></a>
				<div class="nav-header-title">沼气项目</div>
			</div>
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li ><a href="realtime版本2.html">实时工况</a></li>
					<li ><a href="tablechart.html">统计报表</a></li>
					<li style="border-bottom:2px solid salmon;"><a href="realtime版本3.html">实时工况3</a></li>
				</ul>
			</div>
		</nav>
		</div>
		<div id="svg-wrap1">
<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Created with Inkscape (http://www.inkscape.org/) -->

<svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:xlink="http://www.w3.org/1999/xlink"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   width="960"
   height="540"
   viewBox="0 0 960.00001 540.00001"
   id="svg2"
   version="1.1"
   inkscape:version="0.91 r13725"
   sodipodi:docname="realtime3.svg">
  <defs
     id="defs4" />
  <sodipodi:namedview
     id="base"
     pagecolor="#ffffff"
     bordercolor="#666666"
     borderopacity="1.0"
     inkscape:pageopacity="0.0"
     inkscape:pageshadow="2"
     inkscape:zoom="0.98994949"
     inkscape:cx="385.1416"
     inkscape:cy="128.926"
     inkscape:document-units="px"
     inkscape:current-layer="layer1"
     showgrid="false"
     units="px"
     inkscape:showpageshadow="false"
     inkscape:window-width="1366"
     inkscape:window-height="705"
     inkscape:window-x="-8"
     inkscape:window-y="-8"
     inkscape:window-maximized="1" />
  <metadata
     id="metadata7">
    <rdf:RDF>
      <cc:Work
         rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type
           rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
        <dc:title></dc:title>
      </cc:Work>
    </rdf:RDF>
  </metadata>
  <g
     inkscape:label="bg-img"
     inkscape:groupmode="layer"
     id="layer1"
     transform="translate(0,-512.36216)">
    <image
       sodipodi:absref="C:\Users\weibinjie\Desktop\svg资源\3.png"
       xlink:href="img/3.png"
       width="959.87158"
       height="540.88861"
       preserveAspectRatio="none"
       id="image5098"
       x="0.87655717"
       y="512.18683" />
  </g>
  <g
     inkscape:groupmode="layer"
     id="layer3"
     inkscape:label="value-bg"
     sodipodi:insensitive="true">
    <rect
       style="opacity:1;fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:#e501a3;stroke-width:2.08243108;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       id="rect4148"
       width="61.536873"
       height="24.16123"
       x="163.92958"
       y="99.574097"
       ry="12.080615" />
    <rect
       style="opacity:1;fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:#e501a3;stroke-width:2.08243108;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       id="rect4148-7"
       width="61.536873"
       height="24.16123"
       x="294.35855"
       y="99.63501"
       ry="12.080615" />
    <rect
       style="opacity:1;fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:#e501a3;stroke-width:2.08243108;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       id="rect4148-5"
       width="61.536873"
       height="24.16123"
       x="425.73929"
       y="98.604553"
       ry="12.080615" />
    <rect
       style="opacity:1;fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:#e501a3;stroke-width:2.08243108;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       id="rect4148-5-6"
       width="61.536873"
       height="24.16123"
       x="550.00836"
       y="97.594398"
       ry="12.080615" />
    <rect
       style="opacity:1;fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:#e501a3;stroke-width:2.08243108;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       id="rect4148-5-1"
       width="61.536873"
       height="24.16123"
       x="77.297585"
       y="183.37614"
       ry="12.080615" />
    <rect
       style="opacity:1;fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:#e501a3;stroke-width:2.08243108;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       id="rect4148-5-9"
       width="61.536873"
       height="24.16123"
       x="212.65802"
       y="183.53859"
       ry="12.080615" />
    <rect
       style="opacity:1;fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:#e501a3;stroke-width:2.08243108;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       id="rect4148-5-62"
       width="61.536873"
       height="24.16123"
       x="342.92709"
       y="183.43706"
       ry="12.080615" />
    <rect
       style="opacity:1;fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:#e501a3;stroke-width:2.08243108;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       id="rect4148-5-0"
       width="61.536873"
       height="24.16123"
       x="471.17584"
       y="182.4066"
       ry="12.080615" />
    <rect
       style="opacity:1;fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:#e501a3;stroke-width:2.08243108;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       id="rect4148-5-4"
       width="61.536873"
       height="24.16123"
       x="185.50574"
       y="322.85843"
       ry="12.080615" />
    <rect
       style="opacity:1;fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:#e501a3;stroke-width:2.08243108;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       id="rect4148-5-8"
       width="61.536873"
       height="24.16123"
       x="311.59204"
       y="322.81781"
       ry="12.080615" />
    <rect
       style="opacity:1;fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:#e501a3;stroke-width:2.08243108;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       id="rect4148-5-12"
       width="61.536873"
       height="24.16123"
       x="439.98294"
       y="321.86856"
       ry="12.080615" />
    <rect
       style="opacity:1;fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:#e501a3;stroke-width:2.08243108;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       id="rect4148-5-87"
       width="61.536873"
       height="24.16123"
       x="561.94745"
       y="322.85843"
       ry="12.080615" />
    <rect
       style="opacity:1;fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:#e501a3;stroke-width:2.08243108;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       id="rect4148-5-89"
       width="61.536873"
       height="24.16123"
       x="611.62769"
       y="152.10204"
       ry="12.080615" />
    <rect
       style="opacity:1;fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:#e501a3;stroke-width:2.08243108;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       id="rect4148-5-10"
       width="61.536873"
       height="24.16123"
       x="765.19116"
       y="59.167995"
       ry="12.080615" />
    <rect
       style="opacity:1;fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:#e501a3;stroke-width:2.08243108;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       id="rect4148-5-43"
       width="61.536873"
       height="24.16123"
       x="765.21149"
       y="160.18324"
       ry="12.080615" />
    <rect
       style="opacity:1;fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:#e501a3;stroke-width:2.08243108;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       id="rect4148-5-103"
       width="61.536873"
       height="24.16123"
       x="753.08966"
       y="377.38635"
       ry="12.080615" />
    <rect
       style="opacity:1;fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:#e501a3;stroke-width:2.08243108;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       id="rect4148-5-7"
       width="61.536873"
       height="24.16123"
       x="890.36884"
       y="211.68073"
       ry="12.080615" />
    <rect
       style="opacity:1;fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:#e501a3;stroke-width:2.08243108;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       id="rect4148-5-95"
       width="61.536873"
       height="24.16123"
       x="78.246819"
       y="241.11728"
       ry="12.080615" />
    <rect
       style="opacity:1;fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:#e501a3;stroke-width:2.08243108;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       id="rect4148-5-106"
       width="61.536873"
       height="24.16123"
       x="78.26712"
       y="272.31018"
       ry="12.080615" />
    <rect
       style="opacity:1;fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:#e501a3;stroke-width:2.08243108;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       id="rect4148-5-96"
       width="61.536873"
       height="24.16123"
       x="208.75955"
       y="239.94469"
       ry="12.080615" />
    <rect
       style="opacity:1;fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:#e501a3;stroke-width:2.08243108;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       id="rect4148-5-5"
       width="61.536873"
       height="24.16123"
       x="208.63771"
       y="272.33047"
       ry="12.080615" />
    <rect
       style="opacity:1;fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:#e501a3;stroke-width:2.08243108;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       id="rect4148-5-40"
       width="61.536873"
       height="24.16123"
       x="339.0083"
       y="240.0056"
       ry="12.080615" />
    <rect
       style="opacity:1;fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:#e501a3;stroke-width:2.08243108;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       id="rect4148-5-77"
       width="61.536873"
       height="24.16123"
       x="338.98801"
       y="273.32034"
       ry="12.080615" />
    <rect
       style="opacity:1;fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:#e501a3;stroke-width:2.08243108;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       id="rect4148-5-01"
       width="61.536873"
       height="24.16123"
       x="467.37891"
       y="240.95485"
       ry="12.080615" />
    <rect
       style="opacity:1;fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:#e501a3;stroke-width:2.08243108;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       id="rect4148-5-3"
       width="61.536873"
       height="24.16123"
       x="468.16571"
       y="273.32034"
       ry="12.080615" />
  </g>
  <g
     inkscape:groupmode="layer"
     id="layer2"
     inkscape:label="value"
     sodipodi:insensitive="true">
    <text
       xml:space="preserve"
       style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:11.25px;line-height:125%;font-family:'微軟正黑體';-inkscape-font-specification:'微軟正黑體, Bold';text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#0d15e3;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       x="613.24829"
       y="167.81638"
       id="text4166-56"
       sodipodi:linespacing="125%"><tspan
         sodipodi:role="line"
         id="tspan4168-86"
         x="613.24829"
         y="167.81638">841.62T/H</tspan></text>
    <text
       xml:space="preserve"
       style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:11.25px;line-height:125%;font-family:'微軟正黑體';-inkscape-font-specification:'微軟正黑體, Bold';text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#0d15e3;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       x="165.88837"
       y="115.69532"
       id="text4166"
       sodipodi:linespacing="125%"><tspan
         sodipodi:role="line"
         id="tspan4168"
         x="165.88837"
         y="115.69532">841.62T/H</tspan></text>
    <text
       xml:space="preserve"
       style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:11.25px;line-height:125%;font-family:'微軟正黑體';-inkscape-font-specification:'微軟正黑體, Bold';text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#0d15e3;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       x="297.07056"
       y="116.31889"
       id="text4166-1"
       sodipodi:linespacing="125%"><tspan
         sodipodi:role="line"
         id="tspan4168-0"
         x="297.07056"
         y="116.31889">841.62T/H</tspan></text>
    <text
       xml:space="preserve"
       style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:11.25px;line-height:125%;font-family:'微軟正黑體';-inkscape-font-specification:'微軟正黑體, Bold';text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#0d15e3;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       x="427.52237"
       y="114.3392"
       id="text4166-8"
       sodipodi:linespacing="125%"><tspan
         sodipodi:role="line"
         id="tspan4168-00"
         x="427.52237"
         y="114.3392">841.62T/H</tspan></text>
    <text
       xml:space="preserve"
       style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:11.25px;line-height:125%;font-family:'微軟正黑體';-inkscape-font-specification:'微軟正黑體, Bold';text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#0d15e3;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       x="552.57825"
       y="113.28844"
       id="text4166-5"
       sodipodi:linespacing="125%"><tspan
         sodipodi:role="line"
         id="tspan4168-3"
         x="552.57825"
         y="113.28844">841.62T/H</tspan></text>
    <text
       xml:space="preserve"
       style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:11.25px;line-height:125%;font-family:'微軟正黑體';-inkscape-font-specification:'微軟正黑體, Bold';text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#0d15e3;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       x="79.948669"
       y="199.1514"
       id="text4166-7"
       sodipodi:linespacing="125%"><tspan
         sodipodi:role="line"
         id="tspan4168-6"
         x="79.948669"
         y="199.1514">841.62T/H</tspan></text>
    <text
       xml:space="preserve"
       style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:11.25px;line-height:125%;font-family:'微軟正黑體';-inkscape-font-specification:'微軟正黑體, Bold';text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#0d15e3;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       x="215.26849"
       y="200.16156"
       id="text4166-77"
       sodipodi:linespacing="125%"><tspan
         sodipodi:role="line"
         id="tspan4168-37"
         x="215.26849"
         y="200.16156">841.62T/H</tspan></text>
    <text
       xml:space="preserve"
       style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:11.25px;line-height:125%;font-family:'微軟正黑體';-inkscape-font-specification:'微軟正黑體, Bold';text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#0d15e3;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       x="345.65939"
       y="199.17171"
       id="text4166-4"
       sodipodi:linespacing="125%"><tspan
         sodipodi:role="line"
         id="tspan4168-7"
         x="345.65939"
         y="199.17171">841.62T/H</tspan></text>
    <text
       xml:space="preserve"
       style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:11.25px;line-height:125%;font-family:'微軟正黑體';-inkscape-font-specification:'微軟正黑體, Bold';text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#0d15e3;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       x="474.77618"
       y="199.1311"
       id="text4166-10"
       sodipodi:linespacing="125%"><tspan
         sodipodi:role="line"
         id="tspan4168-9"
         x="474.77618"
         y="199.1311">841.62T/H</tspan></text>
    <text
       xml:space="preserve"
       style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:11.25px;line-height:125%;font-family:'微軟正黑體';-inkscape-font-specification:'微軟正黑體, Bold';text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#0d15e3;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       x="81.141563"
       y="256.7504"
       id="text4166-16"
       sodipodi:linespacing="125%"><tspan
         sodipodi:role="line"
         id="tspan4168-92"
         x="81.141563"
         y="256.7504">841.62T/H</tspan></text>
    <text
       xml:space="preserve"
       style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:11.25px;line-height:125%;font-family:'微軟正黑體';-inkscape-font-specification:'微軟正黑體, Bold';text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#0d15e3;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       x="81.060349"
       y="289.05499"
       id="text4166-14"
       sodipodi:linespacing="125%"><tspan
         sodipodi:role="line"
         id="tspan4168-5"
         x="81.060349"
         y="289.05499">841.62T/H</tspan></text>
    <text
       xml:space="preserve"
       style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:11.25px;line-height:125%;font-family:'微軟正黑體';-inkscape-font-specification:'微軟正黑體, Bold';text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#0d15e3;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       x="211.43094"
       y="256.70978"
       id="text4166-104"
       sodipodi:linespacing="125%"><tspan
         sodipodi:role="line"
         id="tspan4168-31"
         x="211.43094"
         y="256.70978">841.62T/H</tspan></text>
    <text
       xml:space="preserve"
       style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:11.25px;line-height:125%;font-family:'微軟正黑體';-inkscape-font-specification:'微軟正黑體, Bold';text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#0d15e3;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       x="211.20758"
       y="290.02454"
       id="text4166-3"
       sodipodi:linespacing="125%"><tspan
         sodipodi:role="line"
         id="tspan4168-4"
         x="211.20758"
         y="290.02454">841.62T/H</tspan></text>
    <text
       xml:space="preserve"
       style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:11.25px;line-height:125%;font-family:'微軟正黑體';-inkscape-font-specification:'微軟正黑體, Bold';text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#0d15e3;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       x="340.54773"
       y="255.76056"
       id="text4166-6"
       sodipodi:linespacing="125%"><tspan
         sodipodi:role="line"
         id="tspan4168-8"
         x="340.54773"
         y="255.76056">841.62T/H</tspan></text>
    <text
       xml:space="preserve"
       style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:11.25px;line-height:125%;font-family:'微軟正黑體';-inkscape-font-specification:'微軟正黑體, Bold';text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#0d15e3;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       x="341.47665"
       y="289.07529"
       id="text4166-2"
       sodipodi:linespacing="125%"><tspan
         sodipodi:role="line"
         id="tspan4168-96"
         x="341.47665"
         y="289.07529">841.62T/H</tspan></text>
    <text
       xml:space="preserve"
       style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:11.25px;line-height:125%;font-family:'微軟正黑體';-inkscape-font-specification:'微軟正黑體, Bold';text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#0d15e3;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       x="189.02484"
       y="339.58292"
       id="text4166-67"
       sodipodi:linespacing="125%"><tspan
         sodipodi:role="line"
         id="tspan4168-03"
         x="189.02484"
         y="339.58292">841.62T/H</tspan></text>
    <text
       xml:space="preserve"
       style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:11.25px;line-height:125%;font-family:'微軟正黑體';-inkscape-font-specification:'微軟正黑體, Bold';text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#0d15e3;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       x="314.26346"
       y="338.63367"
       id="text4166-50"
       sodipodi:linespacing="125%"><tspan
         sodipodi:role="line"
         id="tspan4168-77"
         x="314.26346"
         y="338.63367">841.62T/H</tspan></text>
    <text
       xml:space="preserve"
       style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:11.25px;line-height:125%;font-family:'微軟正黑體';-inkscape-font-specification:'微軟正黑體, Bold';text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#0d15e3;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       x="468.9183"
       y="256.62857"
       id="text4166-0"
       sodipodi:linespacing="125%"><tspan
         sodipodi:role="line"
         id="tspan4168-74"
         x="468.9183"
         y="256.62857">841.62T/H</tspan></text>
    <text
       xml:space="preserve"
       style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:11.25px;line-height:125%;font-family:'微軟正黑體';-inkscape-font-specification:'微軟正黑體, Bold';text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#0d15e3;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       x="469.90817"
       y="289.05499"
       id="text4166-71"
       sodipodi:linespacing="125%"><tspan
         sodipodi:role="line"
         id="tspan4168-53"
         x="469.90817"
         y="289.05499">841.62T/H</tspan></text>
    <text
       xml:space="preserve"
       style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:11.25px;line-height:125%;font-family:'微軟正黑體';-inkscape-font-specification:'微軟正黑體, Bold';text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#0d15e3;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       x="442.55283"
       y="338.55246"
       id="text4166-48"
       sodipodi:linespacing="125%"><tspan
         sodipodi:role="line"
         id="tspan4168-89"
         x="442.55283"
         y="338.55246">841.62T/H</tspan></text>
    <text
       xml:space="preserve"
       style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:11.25px;line-height:125%;font-family:'微軟正黑體';-inkscape-font-specification:'微軟正黑體, Bold';text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#0d15e3;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       x="564.72034"
       y="339.522"
       id="text4166-15"
       sodipodi:linespacing="125%"><tspan
         sodipodi:role="line"
         id="tspan4168-68"
         x="564.72034"
         y="339.522">841.62T/H</tspan></text>
    <text
       xml:space="preserve"
       style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:11.25px;line-height:125%;font-family:'微軟正黑體';-inkscape-font-specification:'微軟正黑體, Bold';text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#0d15e3;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       x="767.94379"
       y="74.922951"
       id="text4166-40"
       sodipodi:linespacing="125%"><tspan
         sodipodi:role="line"
         id="tspan4168-2"
         x="767.94379"
         y="74.922951">841.62T/H</tspan></text>
    <text
       xml:space="preserve"
       style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:11.25px;line-height:125%;font-family:'微軟正黑體';-inkscape-font-specification:'微軟正黑體, Bold';text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#0d15e3;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       x="766.71027"
       y="177.00926"
       id="text4166-480"
       sodipodi:linespacing="125%"><tspan
         sodipodi:role="line"
         id="tspan4168-50"
         x="766.71027"
         y="177.00926">841.62T/H</tspan></text>
    <text
       xml:space="preserve"
       style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:11.25px;line-height:125%;font-family:'微軟正黑體';-inkscape-font-specification:'微軟正黑體, Bold';text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#0d15e3;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       x="893.10114"
       y="228.44583"
       id="text4166-776"
       sodipodi:linespacing="125%"><tspan
         sodipodi:role="line"
         id="tspan4168-1"
         x="893.10114"
         y="228.44583">841.62T/H</tspan></text>
    <text
       xml:space="preserve"
       style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:11.25px;line-height:125%;font-family:'微軟正黑體';-inkscape-font-specification:'微軟正黑體, Bold';text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#0d15e3;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       x="754.62903"
       y="393.01947"
       id="text4166-02"
       sodipodi:linespacing="125%"><tspan
         sodipodi:role="line"
         id="tspan4168-56"
         x="754.62903"
         y="393.01947">841.62T/H</tspan></text>
  </g>
</svg>

		</div>
		<script type="text/javascript" src="src/jquery3.1.0-jQuery.js" ></script>
		<script type="text/javascript" src="js/bj-bootstrap/js/bootstrap.min.js" ></script>
		<script type="text/javascript" src="js/bj-snap.svg/snap.svg-min.js" ></script>
		<script type="text/javascript" src="js/realtime-m.js" ></script>
	</body>
</html>
